.currency-list-container {
    margin: 20px;
  }
  
  button {
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    overflow-x: auto;
    display: block; /* Permitir scroll horizontal en pantallas pequeñas */
  }
  
  
  @media (max-width: 1024px) {
    .coin-list-container {
      margin: 10px;
    }
  
    table {
      font-size: 14px; /* Reducir el tamaño de fuente en pantallas pequeñas */
    }
  
    button {
      width: 100%; /* Botón ocupa el ancho completo en resoluciones pequeñas */
    }
  }

  .table_style{
    
  }
  .title_button_align{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .btn_amarillo{
    background: #FDDA24;
    border-radius: 60px;
    font-family: "OpenSans-Regular";
    color: #2C2A29;
    font-weight: bold;
    margin: 5px 0;
    padding: 8px 18px;
    border: 0px;
    cursor: pointer;
    width: auto;
  }
  .title_style{
    margin-top: 0px;
    margin-bottom: 5px;
  }