<div class="currency-list-container">
  <div class="title_button_align">
    <div>
      <h2 class="title_style">Mis monedas</h2>
    </div>
    <div>
      <button (click)="addCurrenciesEventClick()" class="btn_amarillo">AGREGAR MONEDA</button>
    </div>
  </div>

  <div class="table_style">
    <table mat-table [dataSource]="userCurrencies" class="mat-elevation-z8">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef>Símbolo</th>
        <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="exchange_rate">
        <th mat-header-cell *matHeaderCellDef>Tasa de cambio</th>
        <td mat-cell *matCellDef="let element">
          {{ element.exchange_rate | currency }} USD
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
